
<br />
<h1 class="page-header text-center">Edit Post</h1>

<div class="row show-hide-message" *ngIf="message">
    <div [ngClass]="messageClass">
        {{ message }}
    </div>
</div>


<form (submit)="updateBlogSubmit()" *ngIf="!loading">
    <div class="form-group">
        <label for="title"><h3>Title</h3></label>
        <input [disabled]="processing" type="text" name="title" placeholder="*Blog Title" class="form-control"
            [(ngModel)]="blog.title" #title="ngModel" />
    </div>

    <div class="form-group">
        <label for="body"><h3>Body</h3></label>
        <textarea [disabled]="processing" name="body" rows="8" cols="80" [(ngModel)]="blog.body" #body="ngModel"
            class="form-control" placeholder="*Blog Body"></textarea>
    </div>

    <a [routerLink]="['/delete-blog/', blog._id]"><button [disabled]="processing" type="button" name="button"
            class="btn btn-danger">Delete</button></a>
    <button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="goBack()">Go
        Back</button>
    <button [disabled]="processing || (!title.dirty && !body.dirty)" type="submit" name="save" class="btn btn-info">Save
        Changes</button>

</form>
