<h1 class="page-header">Blog Feed</h1>

 <div class="row show-hide-message" *ngIf="message && newPost">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div> 


<button type="button" class="btn btn-outline-primary btn-lg" *ngIf="!newPost" (click)="newBlogForm()">New Post</button>

<button [disabled]="loadingBlogs" type="button" class="btn btn-outline-primary btn-lg" *ngIf="!newPost"
    (click)="reloadBlogs()">
    <i class="fas fa-sync"></i>&nbsp;&nbsp; Reload
</button>

<br />
<br />


<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
        
        <div class="form-group">
          <label for="title">Title</label>
          <div [ngClass]="{'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors}">
           
            <input type="text" name="title" class="form-control" placeholder="*Blog Title" autocomplete="off" formControlName="title" />
            
            <ul class="help-block" style="color:#ff3333">
              <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required.</li>
              <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">Max length: 50, Min length: 5</li>
              <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Must be a letter or number</li>
            </ul>
          </div>
        </div>
      
        <div class="form-group">
          <label for="body">Body</label>
          <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
            <textarea name="body" rows="8" cols="80" placeholder="*Body" class="form-control" formControlName="body"></textarea>
            <ul class="help-block" style="color:#ff3333">
              <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
              <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)">Max length: 500, Min length: 5</li>
            </ul>
          </div>
        </div>
      
        <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-outline-info">Go Back</button>
        <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-outline-primary">Submit</button>
      
      </form>

<div *ngIf="!newPost">
    <div class="card " *ngFor="let blog of blogPosts">
        <div class="card-header bg-primary">
                {{ blog.title }}
        </div>

        <div class="card-body">
                {{ blog.body }}
        </div>

        <div class="card-footer">
            <strong>Posted by: </strong> {{ blog.createdBy }}
            <br />
            <strong>Date: </strong> {{ blog.createdAt | date:'MMM dd, yyyy' }}
            <br />
            <div *ngIf="username === blog.createdBy">
                <strong>Likes: </strong> {{ blog.likes }}
                <br />
                <strong>Dislikes: </strong> {{ blog.dislikes }}

            </div>


            <a [routerLink]="['/edit-blog/', blog._id]" *ngIf="username === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
            <a [routerLink]="['/delete-blog/', blog._id]" *ngIf="username === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>


            <div class="dropdown">
                <button type="button" class="btn btn-sm btn-success" *ngIf="username !== blog.createdBy"><i class="fas fa-thumbs-up"></i>&nbsp;Likes:
                    4</button>
                <div class="dropdown-content">
                    <a href="#">jelena</a><br/>
                    <a href="#">eeee</a><br/>
                    <a href="#">sanjica</a><br/>
                    <a href="#">milos</a> <br/>
                </div>

            </div>

            <div class="dropdown">
                <button type="button" class="btn btn-sm btn-warning" *ngIf="username !== blog.createdBy"><i class="fas fa-thumbs-down"></i>&nbsp;Dislikes:
                    4</button>
                <div class="dropdown-content">
                    <a href="#">jelena</a><br/>
                    <a href="#">eeee</a><br/>
                    <a href="#">sanjica</a><br/>
                    <a href="#">milos</a> <br/>
                </div>

            </div>

        </div>
    
        <ul class="list-group">
            <li class="list-group-item">
                <button type="button" name="button" class="btn btn-sm btn-outline-primary" (click)="draftComment()">Post Comment</button>
                <br/>
                <!--
                 <form>
                    <textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment"></textarea>

                    <button type="submit" name="button" class="btn btn-sm btn-primary">Post</button>
                    <button type="submit" name="button" class="btn btn-sm btn-primary">Cancel</button>
                 </form>
                 -->
            </li>

        </ul>



    </div>