<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
        <form [formGroup] = "form" (submit)= "onRegisterSubmit()">
                <label>   
                  <p class="label-txt">ENTER YOUR EMAIL</p>
                  <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty) || (!emailValid && form.controls.email.dirty), 'has-success': !form.controls.email.errors && emailValid}">
                  <input type="text" name= "email" autocomplete="off" class="input" formControlName="email">
                  <div class="line-box">
                    <div class="line"></div>
                  </div>
                  <ul class="help-block">
                    <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</li>
                    <li *ngIf = "form.controls.email.errors?.minlength && form.controls.email.dirty">Minimum characters: 5</li>
                    <li *ngIf ="form.controls.email.errors?.maxlength && form.controls.email.dirty">Maximum chatacters: 40</li>
                    <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">This must be a valid e-mail</li>
                  </ul>
                </div>
                </label>
                <label>
                  <p class="label-txt">ENTER YOUR USERNAME</p>
                  <div [ngClass]="{'has-error': (form.controls.username.errors && form.controls.username.dirty) || (!usernameValid && form.controls.username.dirty), 'has-success': !form.controls.username.errors && usernameValid}">
                  <input type="text" name= "username" autocomplete="off" class="input" formControlName="username">
                  <div class="line-box">
                    <div class="line"> 
                    </div>
                  </div>
                  <ul class="help-block">
                    <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">This field is required</li>
                    <li *ngIf = "form.controls.username.errors?.minlength && form.controls.username.dirty">Minimum characters: 3</li>
                    <li *ngIf ="form.controls.username.errors?.maxlength && form.controls.username.dirty">Maximum chatacters: 20</li>
                    <li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">Username can't have any special characters</li>
                  </ul>
                </div>
                </label>
                <label>
                  <p class="label-txt">ENTER YOUR PASSWORD</p>
                  <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty) || (!passwordValid && form.controls.password.dirty), 'has-success': !form.controls.password.errors && passwordValid}">
                  <input type="text" name="password" class="input" autocomplete="off" formControlName="password">
                  <div class="line-box">
                    <div class="line"></div>
                  </div>
                  <ul class="help-block">
                    <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required</li>
                    <li *ngIf = "form.controls.password.errors?.minlength && form.controls.password.dirty">Minimum characters: 8</li>
                    <li *ngIf ="form.controls.password.errors?.maxlength && form.controls.password.dirty">Maximum chatacters: 35</li>
                    <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Password must have at least one uppercase, lowercase, special character, and number</li>
                  </ul>
                </div>
                </label>
                <label>
                    <p class="label-txt">CONFIRM YOUR PASSWORD</p>
                    <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (!confirmValid && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && confirmValid}">
                    <input type="text" name="confirm" class="input" autocomplete="off" formControlName="confirm" >
                    <div class="line-box">
                    <div class="line"></div>
                    </div>
                    <ul class="help-block">
                      <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required</li>
                      <li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Password don't match</li>
                    </ul>
                  </div>
                </label>
                <button type="submit">submit</button>
              </form>

</body>