<br/>
<h1 class="page-header">Delete Blog</h1>

<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<div class="col-md-6" *ngIf="foundBlog">
  <div class="modal-content">
    <div class="modal-header  bg-info">
      <h4 class="modal-title"> <i class="fas fa-check-circle"></i>&nbsp; Confirm</h4>
    </div>

    <div class="modal-body">
      <p>Are you sure you would like to delete this blog?</p>
    </div>

    <div class="modal-footer">
      <button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="deleteBlog()">Yes</button>
      <a routerLink="/blog"><button [disabled]="processing" type="button" name="button" class="btn btn-danger">No</button></a>
    </div>
  </div>

  <br />
  <div class=" align-items-center">
    <div class="card ">
      <div class="card-header text-center bg-info">
            <h3>  {{ blog.title }} </h3>         
      </div>

      <div class="card-body">
              {{ blog.body }}
      </div>

      <div class="card-footer text-center">
          <strong>Posted by: </strong> {{ blog.createdBy }}
          <br />
          <strong>Date: </strong> {{ blog.createdAt | date:'MMM dd, yyyy' }}
          <br />
          
      </div>

    </div>
  </div>
